# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Uploaded student files
uploads/

# Results
results/

# Logs
*.log

# OS
.DS_Store
Thumbs.db